body{
    width: 900px;
    text-align: center;
    border: 2px solid red;
    margin-left: 350px;
    background-color: rgb(107, 2, 2);
}

header{
    margin-top: -1em;
    padding: 0px;
}

nav>ul {
    list-style-type: none;
    margin-top: -1em;
    padding: 0;
    overflow: hidden;
    background-color: rgb(187, 96, 11);
    color: white;
  }
  nav>div{
    padding: 0;
    background-color: rgb(187, 96, 11);
    color: white;
    height: 2em;
    width: 10em;
    margin-top: -3.2em;
    margin-left: 45em;
  }
  nav>ul>li {
    float: left;
  }
  
  nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  nav>ul>li a:hover {
    background-color: #111;
  }

  article{
      display: table-row;
  }

  aside#left{
    display: table-cell;
    vertical-align: top;
    width: 150px;
  }
  section{
    display: table-cell;
    vertical-align: top;
    width: 600px;
    }
  aside#right{
      display: table-cell;
      vertical-align: top;
      width: 150px;
  }
  
  aside#left>div, aside#left>form{
    border: 1px solid rgb(156, 173, 3);
    margin: 1em;
    padding: 1px;
    width: 140px;
  }

  aside#right marquee>a>img{
    width: 160px;
  }